@using Bookish.DataAccess
@using System.Security.Cryptography.X509Certificates

@model IEnumerable<Book>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table cellpadding='3' cellspacing='3' style=' border: 1px solid black; font-size: 12pt; font-family: Arial; width: 100%; align-content: center;'>
<tr style = "font-weight: bold; border: 1px solid black;">
    <th style="text-align: center">Book Name</th>
    <th style="text-align: center">Book Author</th>
    <th style="text-align: center">Book Genre</th>
</tr>

@foreach (var book in Model)
{  
        <tr>
            <td style = "border: 1px solid black;">@book.Name</td>
            <td style = "border: 1px solid black;">@book.Author</td>
            <td style = "border: 1px solid black;">@book.Genre</td>
        </tr>        
}
</table>   
